# Consolidate display names/emails to primary account
# Maps the merge-commit author "tenz", phantom "tenzin", and alt account "tenzindendup" to yesheytenzin
yesheytenzin <yesheytenzin@users.noreply.github.com> tenz <133156653+yesheytenzin@users.noreply.github.com>
yesheytenzin <yesheytenzin@users.noreply.github.com> tenz <yesheytenzin@users.noreply.github.com>
yesheytenzin <yesheytenzin@users.noreply.github.com> tenzin <tenzin@users.noreply.github.com>
yesheytenzin <yesheytenzin@users.noreply.github.com> tenzin dendup <tenzindendup@users.noreply.github.com>
yesheytenzin <yesheytenzin@users.noreply.github.com> <yesheytenzin09@mail.com>
